@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee+Spice&family=Press+Start+2P&family=Honk&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



  @supports (-webkit-touch-callout: none) {
    .ios {
      font-family: "Bebas Neue", sans-serif !important;
      color: transparent;
      background: linear-gradient(90deg, #ffcc00, #ff69b4); /* Define your gradient colors */
      -webkit-background-clip: text; /* iOS specific gradient clip */
      background-clip: text;
    }
  }


ul, ol {
    list-style: disc !important; /* For unordered lists */
    margin-left: 20px !important; /* Adjust the margin as needed */
    padding-left: 20px !important; /* To create space for the bullets */
  }
  
  ol {
    list-style: decimal !important; /* For ordered lists */
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;

